

  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="styles.css">
    <title>Teacher Management system</title>
</head>


    <body> 
    
  
    <form id="addteacher" action="/" method="post"> 
        <h1>Add teacher</h1>
        <input type="text" placeholder="Enter Full Name" name="name" required> 
        <input type="number" placeholder="Enter Age" name="age" required> 
        <input type="date" placeholder="Enter Date of Birth" name="dateOfBirth" required> 
        <input type="number" placeholder="Enter subject taught by he/she" name="subject_taught" required> 
        
        <button type="submit">Add</button> 
    </form> 
    <br>
    <form id ="addteacher" action="/search" method="post">
        <div class="container"><h3>Search teacher</h3>
        <input type="text" placeholder="name" name="name">
        <button type="submit">Search</button>
    </div>
    
    </form>
    <% if (typeof showAlert !== 'undefined' && showAlert) { %>
        <div style="color: red; font-weight: bold;">Teacher not found</div>
    <% } %>
    <br>

  <div class="filteration">
     <form id="addteacher" action="/filter" method="post">
        <h3>Filter teacher</h3>
        <label class="label">Filter by:</label>
        <select id="filterby" name="filterby">
            <option value="Age">Age </option>
            <option value="Age below 50">Age below 50</option>
            <option value="Age above 50">Age above 50</option>
            <option value="subjectTaught">Subject Taught</option>
        </select>
        <button type="submit">Apply Filter</button>
    </form>
    <br>
    <form id="addteacher" action="/minmax" method="post">
        <h3>teacher in giveh age</h3>
        <input type="number" name="minage" id="minage" placeholder="enter min age">
        <input type="number" name="maxage" id="maxage" placeholder="enter max age">
        <button type="submit">apply</button>
      </form>
    </div>
    
    <br>
    <form id="addteacher" action="/avg" method="get">
        <button type="submit">Calculate Average No of classes</button>
      </form>
    
      <p>
        <% if (typeof avgsub !== 'undefined') { %>
          Average classes: <%= avgsub %>
        <% } else if (typeof error !== 'undefined') { %>
          <%= error %>
        <% } %>
      </p>
    
    
    
    <table id="addteacher"> 
        <h1>All teachers</h1> 
        <tr> 
            <th>Name</th> 
            <th>Age</th> 
            <th>Date of Birth</th> 
            <th>Subject taught</th> 
            <th>Update</th> 
            <th>Delete</th> 
        </tr> 
        <% data.forEach(teacher => { %> 
            <tr> 
                <td><%= teacher.name %></td> 
                <td><%= teacher.age %></td> 
                <td><%= teacher.dateOfBirth %></td> 
                <td>  <%=teacher.subject_taught %></td> 
                <td> 
                    <form action="/update" method="post" > 
                        <input type="text" style="display: none;" 
                            name="name" value="<%= teacher.name %>">
                       
                        <input type="text" name="newname" placeholder="Enter name" required>
                        <input type="number" name="newage"placeholder=" enter age" required>
                        <input type="date" name="newdob" placeholder="enter date of birth" required> 
                        <input type="number" name="newsubject" placeholder="enter subject taught" required>   
                        <button type="submit">Update</button> 
                    </form> 
                </td> 
                <td> 
                    <form action="/delete" method="post"> 
                         <input type="text" style="display: none;" 
                            name="name" value="<%= teacher.name %>"> 
                        <button type="submit" style="background-color: rgb(255, 143, 143);">Delete</button>  
                         
                        </form>  
                        
                </td> 
            </tr>   
        <% }); %> 
    </table> 
  
   

   

</body> 
  
</html>
